@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "Dosis", sans-serif !important;
	margin: 0 auto;
	min-width: 320px;
	min-height: 100vh;
}

a {
	color: white !important;
}
